.card {
	max-width: 320px;
	margin: 0 auto;  
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: grid;
	gap: 8px;
	padding: 16px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
  
.card > div {
	display: grid;
	grid-template-columns: 100px 1fr;
}
  
.card strong {
	justify-self: start;
}
  
.card span {
	justify-self: end;
}

.main-title {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10%;
	color: #ffffff;
	z-index: 1; /* posiziona l'elemento corrente sopra agli altri! */
	position: relative;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #FF0080;
}